.Filmpage {
  margin-top: 145px;
  min-height: 600px;
  background-color: rgb(16, 16, 24);
  color: white;
  padding: 5px;
  display: flex;
}
.MovieInfos {
  margin-bottom: 100px;
  margin-left: 30px;
  align-self: flex-end;
}
.Desc {
  line-height: 1cm;
  text-align: justify;
  animation: appear2 2s;
}
@keyframes appear2 {
  0% {
    margin-left: 500px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
.MovieImage {
  width: 345px;
  height: 517px;
  animation: appear 2s;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  font-size: 50px;
}
h3 {
  font-size: 25px;
  color: rgb(255, 208, 0);
}
.text-area {
  width: 68vw;
  min-height: 20vh;
  padding-top: 30px;
  background: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.822);
  text-align: justify;
  line-height: 30px;
  border: thin solid lightgray !important;
}
.ChangeBtn {
  border: thin white solid;
  width: auto;
  margin-top: 20px;
  margin-left: 800px;
}
.EditLogoBtn {
  background: none;
  border: none;
  margin-left: 300px;
  outline: none;
}
.EditLogoBtn:hover {
  filter: brightness(100);
}
.EditLogo {
  width: 20px;
}
